<div>
    <h3>New post</h3>
    <p>
        <label>Header</label><br>
        <input title="Header" type="text" id="new-header" ng-model="newPost.header" />
    </p>
    <p>
        <label>Content</label><br>
        <textarea title="Content" id="new-content" ng-model="newPost.content" ></textarea>
    </p>
    <button id="new-submit" ng-click="addBlogPost( newPost )">Add blog post</button>

</div>

<div ng-repeat="post in posts">
  <h3>
    <a href="#/post/1" id="post{{$index }}-link">{{post.header}}</a>
    <button id="delete{{$index }}-button" ng-click="removeBlogPost( $index )">Remove blog post</button>
  </h3>
  <p>
    {{post.content}}
  </p>
  <img width="50" ng-src="app/img/{{post.picture}}" alt="{{post.name}}"> {{post.name}} @ {{post.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}
</div>